.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;

    h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
}

table.table {
    td {
        // .add {
        //     display: none;
        // }

        // a.add {
        //     color: #27c46b;
        // }

        a {
            cursor: pointer;
            display: inline-block;
        }

        a.edit {
            color: $yellow;
        }

        a.delete {
            color: $red;
        }
    }
}
